body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    margin: 0;
    padding: 0;

    
}

.header{
    font-size: large;
    color: red;
    background-color: black;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 10px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu{ 
    font-size: 25px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
 
}

.menu ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 10px;
}

.menu ul li{
    margin: 6px 25px;
    padding: 5px;
    
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
    
}

.menu ul li a:hover{
    padding: 2px 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}






.anatomia{
    padding: 50px 20px;
    background-color: #1D1D1D; /* sfondo scuro elegante */
    color: #ffffff;
    border-radius: 30px;
    margin: 10px 0;
}

.contenuto{
    display: flex;
    align-items: center;
    gap: 0px;
}
.immagine img {
    width: 200px;
    height: auto;;
    border-radius: 20px; 
    align-items: left;
}

.contenuto.reverse{
    flex-direction:row-reverse;
}

.testo{
    flex: 1;
    align-items: right; 
}
#petto{

    background-color: blue;
}

#schiena{
    background-color: black;
}

#bicipite{
    background-color: pink;
}






.footer{
    background-color: black;
    color: white;
    padding: 10px 0 ;
    width: 100%;
    text-align: center;
    position: fixed;   
    bottom: 0;
}

